config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}
input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        natural-scroll
    }
    mouse {
    }
    trackpoint {
    }
}

layout {
    gaps 8
    background-color "transparent"
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    border {
        off
        width 4
        active-color   "#707070"      // Neutral gray
        inactive-color "#d0d0d0"      // Light gray
        urgent-color   "#cc4444"      // Softer red
    }
    focus-ring {
        width 2
        active-color   "#00bbff"      // Medium gray
        inactive-color "#505050"      // Dark gray
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
overview {
	zoom 0.40
    	backdrop-color "#777777"
    workspace-shadow {
        off
    }
}
environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  TERMINAL "kitty"
}
hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 80
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 80
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=1000 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=1000 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=1000 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=1200 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 80
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=1200 epsilon=0.0001
   }
}

include "window-rules.kdl"
include "monitors.kdl"
include "keybinds.kdl"
spawn-at-startup "noctalia"

debug {
    honor-xdg-activation-with-invalid-serial
}


